.services {
  background-color: #ececec;
  text-align: center;
}

.services__container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 100px;
}

.services__item {
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.services__item:hover {
  transform: translateY(-10px); /* Піднімання при наведенні */
}

.services__icon {
  background-color: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  img {
    height: 64px;
  }
}

.services__item-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.services__description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.services__button {
  background-color: #00b159;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #009c4e;
  }
}
