.descriptoin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8f8f8f;
  margin: 40px 20px;
  .primaryText {
    font-size: 1.5rem;
  }
  .secondaryText {
    font-size: 1.25rem;
  }
}
